@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
  
@font-face {
    font-family: 'Parisienne', cursive;
    src: url('fontes/Parisienne-Regular.ttf') format(truetype);
        font-weight: 600;
        font-style: normal;
}

@font-face {
    font-family: 'Orbitron';
    src: url('Orbitron-VariableFont_wght') format(truetype);
}

/* Paleta de cores
#f7f9fa - Cinza Claro
#20262d - Cinza Escuro
#A60B16 - Vermelho Claro
#cd0001 - Vermelho Escuro 
*/

/* Declaração de pseudo variáveis 
:root */

:root {
    --cor0: #eeeeeef0;
    --cor1: #20262d;
    --cor2: #A60B16;
    --cor3: #660708;
    
    --fonte-padrao: 'Times New Roman', Times, sans-serif;
    --fonte-Parisienne: 'Parisienne', Times, sans-serif;
    --fonte-Orbitron: 'Orbitron', Times, sans-serif;
    
}

* { margin: 0px; padding: 0px;}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
    text-align: center;
}

a.externo::after {
    content: '\00A0\1F517';
}

header {
    background-color: black;
    min-height: 10px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 0px;
}

header > h1 {
    color: white;
    font-family: var(--fonte-Parisienne);
    font-size: 2.5em;
    font-weight: normal;
    margin-bottom: 10px;

}

header > h2 {
    color: white;
    font-family: var(--fonte-Parisienne);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 10px;
}

/*header > p {
    font-family: var(--fonte-Parisienneti);
    font-size: 1.8em;
    color: white;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    padding-bottom: 20px;
    text-shadow: 2px 2px 0p rgba(0, 0, 0, 0.315);
}*/

nav {
    font-family: var(--fonte-Orbitron);
    text-align: center;
    background-color: var(--cor1);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
}

nav > a {
    color: white;
    font-family: var(--fonte-Orbitron);
    font-size: 1em;
    padding: 6px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: normal;
    transition-duration: 0.5s;
}

nav > a:hover { 
    background-color: whitesmoke;
    color: black;
}

main {
    min-width: 280px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main img {
    width: 100%;
    max-width: 400px;
    margin: auto;
}

main h1 {
    text-align: center;
    font-family: var(--fonte-Orbitron);
    font-weight: bold;
    font-size: 1.5em;
}

main h2 {
    font-family: var(--font-android);
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1));
    text-indent: 8px;
}

main p {
    margin: 15px 0px;
    text-align: center;
    font-family: var(--fonte-Orbitron);
    font-weight: normal;
    font-size: 1.2em;
    line-height: 2em;
}

main p > a {
    color: black;
    font-family: var(--fonte-Orbitron);
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    padding: 4px;
    border-radius: 5px;
    transition-duration: 0.5s;
}

main p > a:hover {
    background-color: black;
    color: white;
}

section.format > p {
    display: block;
    background-color: var(--cor0);
    font-family: var(--fonte-Orbitron);
    font-size: 1.2em;
    font-weight: normal;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 10px;
}

section.format1 > p {
    display: block;
    background-color: var(--cor0);
    font-family: var(--fonte-Orbitron);
    font-size: 1em;
    font-weight: bold;
    line-height: 2em;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: auto;
}

strong {
    font-size: 0.8em;
}

div.back {
    font-family: var(--fonte-Orbitron);
    text-align: right;
    padding: 10px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
}

div.back > a {
    background-color: var(--cor1);
    color: white;
    font-family: var(--fonte-Orbitron);
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    padding: 6px;
    border-radius: 5px;
    transition-duration: 0.5s;
}

div.back > a:hover {
    background-color: black;
    color: white;
}

div.link > a {
    background-color: rgba(0, 0, 0, 0.903);
    color: white;
    font-family: var(--fonte-Orbitron);
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    padding: 4px;
    border-radius: 3px;
    transition-duration: 0.5s;
}

div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.5%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
    }

.slide-controller:nth-child(1):checked ~ .slide-show .slides-list{--selected-item: 0;}
.slide-controller:nth-child(2):checked ~ .slide-show .slides-list{--selected-item: 1;}
.slide-controller:nth-child(3):checked ~ .slide-show .slides-list{--selected-item: 2;}
.slide-controller:nth-child(4):checked ~ .slide-show .slides-list{--selected-item: 3;}
.slide-controller:nth-child(5):checked ~ .slide-show .slides-list{--selected-item: 4;}
.slide-controller:nth-child(6):checked ~ .slide-show .slides-list{--selected-item: 5;}

.slide-show{
  overflow: hidden;
}

.slides-list{
  --selected-item: 0;
  --total-items: 6;
  list-style-type: none;
  margin: 10px 0;
  padding: 0;
  position: relative;
  left: calc(var(--selected-item) * -100%);
  width: calc(var(--total-items) * 100%);
  transition: left 0.4s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}
  